<div class="banner">ADMIN PANEL</div>
<section class="admin-course-section" style="margin: 25px 0 0 15px;">
  <%- include('./partials/card')  %> 
</section>
<!-- <%- include('./modal-box/create-course') %>  -->

