<ul class="card-container">
<% notes.forEach(subject => { %> 
    <li class="card-content">
      <a href="/student/notes/<%= subject %>">
        <span class="card-title card-title-small"><%= subject %></span>
      </a>
    </li>
<% }) %> 
</ul>