<div class="notification-panel" id="notification-panel">
    <ul class="notification-list">
     <% notifications.forEach(notification => { %>
      <li class="notification-item"><%= notification.message %></li>
      <% }) %> 
    </ul>
</div>