<div id="page-wrap" style="padding-top:110px;width:88%;min-height: 87vh;">
    <div id="video-grid"></div>
</div>
<div class="video-controls">
</div>
<!-- Scripts ----------------------------------------->

<script> 
    const ROOM_ID = "<%= roomId %>"; 
    const USER_ID = "<%= userId %>"
</script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/public/js/video-room.js" defer></script>