<div class="container">
<img src="/public/img/homepage-design.png">
 <div class="welcome-card">  
    <div class="card-head">
    <h1>Welcome</h1>
    <hr class="divider" style="width: 80%;">
    </div>
    <div class="card-body">
     Already have an account ?<br>
    <a href="/user/login" class="btn btn-primary">Login</a>
    </div>
    <div class="card-body">
    Create New Account ?<br>
    <a href="/user/register" class="btn btn-primary">Register</a>
    </div>
 </div>
</div>
<%- include('./layout/partials/footer')  %> 