<ul class="card-container" style="margin-top: 50px;">
    <li class="card-content">
        <a href='/office/faculty-details' style="text-decoration: none;">
          <span class="card-title card-title-small">
            Faculty Details
          </span>
        </a>
     </li>
     <li class="card-content">
        <a href="/office/student-details" style="text-decoration: none;">
          <span class="card-title card-title-small">
            Student Details
          </span>
        </a>
     </li>
     <li class="card-content">
        <a href="#" style="text-decoration: none;">
          <span class="card-title card-title-small">
            Contacts
          </span>
        </a>
     </li>
</ul>
