<section class="fees-section">
    <span class="heading">Fees</span>
    <ul class="flex-box-container">
        <li class="flex-box-coloured" onclick="window.location.href='office/fees/sem'">
            <span class="flex-box-title">Sem Fees</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 27 27" stroke="currentColor" stroke-width="3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </li>
        <li class="flex-box-coloured" onclick="window.location.href='office/fees/exam'">
            <span class="flex-box-title">Exam Fees</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 27 27" stroke="currentColor" stroke-width="3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </li>
        <li class="flex-box-coloured" onclick="window.location.href='office/fees/others'">
            <span class="flex-box-title">Others</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 27 27" stroke="currentColor" stroke-width="3">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </li>
    </ul>
</section>
