<section class="notification-section">
    <span class="heading heading-btn">
      <a class="btn btn-primary" onclick="addNotification()">
       Add notification
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="2 0 20 20" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
      </svg>
      </a>
      <div id="add-notification-model">
        <form>
            <label class="pure-material-textfield-outlined">
                <input placeholder=" " name="message" required>
                <span>Add your message here</span>
            </label>
            <label class="pure-material-select-outlined outline-2">
               <select type="select" name="role" required>
                  <option value="" disabled selected>Select your role</option>
               </select>
               <span></span>
            </label>
            <button class="btn btn-outline btn-danger btn-action" type="button" 
                    onClick="window.location.reload(true)">Cancel</button>
            <button class="btn btn-outline btn-primary btn-action" type="submit" >Send</button>
        </form>
      </div>
    </span>
</section>