<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/input-type.css" rel="stylesheet" />
    <link href="/public/css/style.css" rel="stylesheet" />
    <link href="/public/css/components.css" rel="stylesheet" />
    <script src="/public/js/jquery.min.js"></script>
    <title><%= (typeof title != "undefined" ? `${title} - ` : "") %> Virtual Education System</title>
</head>
<body>
    <%- include('./partials/navbar')  %> 
    <div id="page-wrap">
    <%- body %>
    </div>
    <script src="/public/js/script.js"></script>
    <%- script %>
</body>
</html>