<section class="class-section">
    <span class="heading">Online Classes</span>
    <%- include('./classes/index-classes')  %>
</section>
<div class="divider"></div>
<section class="assignment-section">
    <span class="heading">Assignments</span>
    <%- include('./assignments/index-assignments')  %>
</section>
<div class="divider"></div>
<section class="notes-section">
    <span class="heading">Notes</span>
    <%- include('./notes/index-notes') %>
</section>