* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Poppins", sans-serif;
  background-color: #e7ecef;
}
a {
  cursor: pointer;
  text-decoration: none;
}
h1 {
  font-size: 36px;
  font-weight: 500;
}
